<a href="https://colab.research.google.com/github/hyunmin1/first-python/blob/main/%EA%B3%BC%EC%A0%9C9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
for i in range(0,3,1):
  print(i,"컴퓨터과 3학년 1반")

0 컴퓨터과 3학년 1반
1 컴퓨터과 3학년 1반
2 컴퓨터과 3학년 1반

In [10]:
for i in [0,1,2,3,4] :
   print(i,"컴퓨터과 3학년 1반")

0 컴퓨터과 3학년 1반
1 컴퓨터과 3학년 1반
2 컴퓨터과 3학년 1반
3 컴퓨터과 3학년 1반
4 컴퓨터과 3학년 1반

In [12]:
for i in ["봄","여름","가을","겨울"] :
   print(i,"컴퓨터과 3학년 1반")

봄 컴퓨터과 3학년 1반
여름 컴퓨터과 3학년 1반
가을 컴퓨터과 3학년 1반
겨울 컴퓨터과 3학년 1반

In [13]:
for i in range(0,11,1):
  print(i,"컴퓨터과")

0 컴퓨터과
1 컴퓨터과
2 컴퓨터과
3 컴퓨터과
4 컴퓨터과
5 컴퓨터과
6 컴퓨터과
7 컴퓨터과
8 컴퓨터과
9 컴퓨터과
10 컴퓨터과

In [15]:
for i in range(2,6,1):
  print(i, end=" ")

2 3 4 5

In [17]:
result = 1

for i in range(1,6,1):
  result = result + 1

  print("A,B,C,D,E 학생들을 세우는 경우의 수", result)

A,B,C,D,E 학생들을 세우는 경우의 수 2
A,B,C,D,E 학생들을 세우는 경우의 수 3
A,B,C,D,E 학생들을 세우는 경우의 수 4
A,B,C,D,E 학생들을 세우는 경우의 수 5
A,B,C,D,E 학생들을 세우는 경우의 수 6

In [18]:
sum = 0
for i in range(1,1001,1):
    sum = sum+i
print(sum)

500500

In [24]:
odd_sum = 0
for i in range(1001,2001,2):
  odd_sum = odd_sum + i
print(odd_sum)

750000

In [29]:
i, hap = 0,0
for i in range(500,1001,2) :
     hap += i
print("500에서 1000사이까지의 짝수의 합 : ",hap)

500에서 1000사이까지의 짝수의 합 :  188250